.app {
  background-color: #f3f2ef;
}
.app__body {
  width: 90vw;
  max-width: 1200px;
  margin: 2vh auto;
  font-size: 0.8rem;
}
@media screen and (min-width: 570px) {
  .app__body {
    display: flex;
  }
}
@media screen and (min-width: 570px) {
  .app__medium {
    flex: 1;
  }
}
@media screen and (min-width: 750px) {
  .app__medium {
    display: flex;
    flex: 0.8;
  }
}
